In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from functools import reduce
import os

In [2]:
csv_files = []
for filename in sorted(os.listdir("../Resources")):
    if filename.endswith(".csv"):
        csv_files.append(filename)

In [3]:
years = []
dfs = []
for file in csv_files:
    df = pd.read_csv(f'../Resources/{file}')
    dfs.append(df)
    year = file.split("-")
    years.append(year[2].split(".")[0])

In [4]:
var=iter(["2013", "2014", "2015", "2016"])
var1=iter(["2014", "2015", "2016"])

var=iter(years)
years2 = years.copy()
del years2[0]
var1=iter(years2)
df_final_combined = reduce(lambda left,right: pd.merge(left, right, how='outer', on='Wrestler',suffixes=[next(var),next(var1)]),dfs)
df_final_combined.head(10)

,Wrestler,Wins2013,Losses2013,Draws2013,Wins2014,Losses2014,Draws2014,Wins2015,Losses2015,Draws2015,Wins2016,Losses2016,Draws2016
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0
5,Roman Reigns,49.0,140.0,5.0,118.0,28.0,4.0,187.0,19.0,7.0,142.0,12.0,5.0
6,Ryback,103.0,88.0,3.0,43.0,114.0,1.0,138.0,34.0,2.0,37.0,17.0,1.0
7,Damien Sandow,39.0,147.0,3.0,3.0,113.0,0.0,50.0,9.0,2.0,11.0,18.0,0.0
8,Alberto Del Rio,126.0,53.0,4.0,31.0,82.0,1.0,26.0,13.0,2.0,24.0,65.0,2.0
9,Dolph Ziggler,62.0,117.0,1.0,134.0,60.0,2.0,115.0,52.0,2.0,114.0,56.0,2.0

In [5]:
# Replace all NaN values with 0 
combined_wrestlers_df = df_final_combined.fillna(0)

def get_col_name(x):
    return [i for i in list(combined_wrestlers_df.columns) if x in i]


wins_col = get_col_name('Wins')
loss_col = get_col_name('Losses')
draw_col = get_col_name('Draws')

# Create a new column called "Total Wins" and add up each wrestler's wins per year to fill in the values
combined_wrestlers_df["Total Wins"] = combined_wrestlers_df.loc[:, wins_col].sum(axis=1)
# # Create a new column called "Total Losses" and add up each wrestler's losses per year to fill in the values
combined_wrestlers_df["Total Losses"] = combined_wrestlers_df.loc[:, loss_col].sum(axis=1)

# # Create a new column called "Total Draws" and add up each wrestler's draws per year to fill in the values
combined_wrestlers_df["Total Draws"] = combined_wrestlers_df.loc[:, draw_col].sum(axis=1)

total_col = get_col_name('Total')

combined_wrestlers_df["Total Matches1"] = combined_wrestlers_df.loc[:, total_col].sum(axis=1)

combined_wrestlers_df

,Wrestler,Wins2013,Losses2013,Draws2013,Wins2014,Losses2014,Draws2014,Wins2015,Losses2015,Draws2015,Wins2016,Losses2016,Draws2016,Total Wins,Total Losses,Total Draws,Total Matches1
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,0.0,0.0,0.0,263.0,60.0,8.0,331.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0,482.0,300.0,15.0,797.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85.0,150.0,1.0,236.0
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0,227.0,454.0,13.0,694.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0,282.0,181.0,14.0,477.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Nikki Cross,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,5.0,0.0,8.0,5.0,0.0,13.0
266,Noah Potjes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,10.0,0.0,3.0,10.0,0.0,13.0
267,Cezar Bononi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,9.0,1.0,1.0,9.0,1.0,11.0
268,James Ellsworth,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,3.0,0.0,8.0,3.0,0.0,11.0
269,Macey Estrella,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10.0,0.0,1.0,10.0,0.0,11.0